<div class="top__wrapper">
    <nav>
        <ul class="top__navigation">
            <li><a href="#home">Store</a></li>
            <li><a href="#services">About</a></li>
            <li><a href="#about">Shipping</a></li>
            <li><a href="#contacts">Recipes</a></li>
        </ul>
    </nav>
    <div class="top__content-wrapper">
        <p class="top__content-decoration">
            bonjour
        </p>
        <p class="top__content-title">
            Serving Baked Goods Every Day
        </p>
        <p class="top__content-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="top__content-button">
            Shop Now
        </p>
    </div>
</div>